<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="FlugServer.Flug"
               behaviorConfiguration="DiscoveryBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8008/" />
          </baseAddresses>
        </host>
        <endpoint
          address ="FlugSuche" binding="wsHttpBinding"
          contract ="FlugServer.IFlug"
          bindingConfiguration="NoSecurityWsHttpBinding">
        </endpoint>
        <endpoint name="udpDiscovery"
                  kind="udpDiscoveryEndpoint">
        </endpoint>
      </service>
      <service name="FlugServer.FlugBuchung"
               behaviorConfiguration="DiscoveryBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2153/"/>
          </baseAddresses>
        </host>
        <endpoint
          address = "FlugBuchung" binding="wsHttpBinding"
          contract = "FlugServer.IFlugbuchung"
          bindingConfiguration="NoSecurityWsHttpBinding">
        </endpoint>
        <endpoint name="BuchungUdpDiscovery"
                  kind="udpDiscoveryEndpoint">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DiscoveryBehavior">
          <serviceDiscovery />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
      <bindings>
        <wsHttpBinding>
          <binding name="NoSecurityWsHttpBinding">
            <security mode="None">
            </security>
          </binding>
        </wsHttpBinding>
      </bindings>
  </system.serviceModel>
</configuration>